@font-face {
  font-family: 'Raleway', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Raleway:sans-serif');
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 36px;
  color: #535459;
  background-color: #FFFFFF;
  text-align: center;
}

ul {

}

li {
  float: left;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #535459;
  background-color: #FFFFFF;
  margin: 20px;
}

.nav-bar{
  list-style-type: none;
  text-align: center;
  width: 700px;
  margin: 10px auto 10px auto;

}
.nav-item {
  padding: 5px;
  color: #535459;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  margin: auto 10px auto 10px;
}

li a {
  text-decoration: none;
  color: #535459;
}
li a:hover {
  color: #EOEOE7;
  text-decoration: none;
}

hr {
  width: 100%;
  color: #CDCDCF;
}

.slideshow {
  width: 100%;
  margin:auto;
}

.fade {
  display: none;

}

.previous {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 2px 2px 0;
}

.next {
  cursor: pointer;
  right: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 2px 0 0 2px;
}

.previous:hover, .next:hover {
  background-color: #FFFFFF;
  opacity: .5;
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #535459;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
