
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Bilbo');

header, footer {
  background-color: #050505;
  height: 500px;
  margin: -10px;
}

.dark-section {
  background-color: #050505;
  height: 500px;
  margin: -10px;
  clear: left;
}

.light-section {
  height: 500px;
  margin-top: 0;
}

h1 {
  float: left;
  position: relative;
  top: 50%;
  left: 5%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 36px;
  color: #FFFFFF;
  text-align: left;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #535459;
  text-align: left;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #FFFFFF;
  text-align: left;
}

li a {
  text-decoration: none;
  color: #535459;
}
li a:hover {
  color: #9DC6E6;
  text-decoration: none;
}

.caption {
  font-family: 'Bilbo', cursive;
  position: relative;
  top: 55%;
  font-weight: lighter;
  font-size: 42px;
  margin: 0;
  padding: 0;
  color: #9DC6E6;
}

.dark-list {
  float: right;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  margin: 5%;
}

.nav-bar{
  list-style-type: none;
  float: right;
  position: relative;
  top: 70%;
  width: 65%;
  padding: 0;
  margin: 0;
  color: #FFFFFF

}
.nav-item {
  padding: 5px;
  float: right;
  color: #FFFFFF;
  text-decoration: none;

}

.icon-block-row1 {
  padding: 2%;
  float: left;
  width: 28%;
  margin-top: 3%;
}

.icon-block-row2 {
  padding: 2%;
  float: left;
  width: 28%;
  margin-top: 0;
}

.icon {
  width: 32.7%;
  padding-left: 32.7%;
  padding-right: 32.7%;
}

.icon-title {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  color: #535459;
  font-weight: bold;
  font-size: 18px;
}

.icon-text {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  color: #535459;
  font-size: 14px;
  padding: 20px;
}

.left-box-narrow {
  width: 24.5%;
  height: 100%;
  float: left;
}

.left-box-wide {
  padding-top: 2%;
  width: 75%;
  height: 100%;
  float: left;
}

.pop-quiz-header {
  margin-left: 12%;
}

#quiz-results1, #quiz-results2, #quiz-results3, #quiz-results4, #quiz-results5, #quiz-results6, #quiz-results7, #quiz-results8 {
  font-size: 16px;
  float: left;
  margin: 2%;
  padding: .5%;
  width: 26%;
  height: 19.6%;
}

#bonus {
  width: 100px;
  float: left;
  padding: 2%;
}

.bucket-list-header {
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 36px;
  color: #050505;
  margin-left: 10%;

}

.bucket-list-container {
  padding-top: 20%;
  column-count: 2;
  width: 90%
}

.bucket-list {
  margin-left: 25%;
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  color: #535459;
}
